#acordeon section p{
display: none;
text-align: center;

}

#acordeon section a{
text-align: center;
color: blue;
font-family: arial;
font-size: 25px;
text-decoration: none;
}

#acordeon section a:hover{
	text-decoration: underline;
}
#acordeon section:target p{
	display: block;
}
html, body{
	background-color: lightgreen;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	margin-bottom: 200px;
}
main{
	padding: 100px;
	width: 80%;
	margin: auto;
	min-width: 4px;
}
.piepagina{
	width: 1100px;
	margin: 0 auto;
}
.pieinterior{
	width: 33%;
	float: left;
	text-align: left;
	color: black;
}
.pieinterior ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.pieinterior ul a{
	text-transform: uppercase;
	text-orientation: none;
	color: black;
}
.pieinterior p{
	width: 70%;
}
.piepagina{
	width: 100%;
	height: 250px;
	position: fixed;
	z-index: -1;
	background-color: lightgreen;
}